#about-container {
    /* border: 2px solid red; */
    margin: 130px 230px;
    /* max-width: 1140px; */
}




.content {
    background-color: #FFF8F3;
    /* border: 2px solid red; */
    margin: 131px 157px;
    /* max-width: 1140px; */

}

.content h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #181818;

}

.content p {
    text-align: center;
    font-size: 18px;
    margin: 30px auto;
    color: #757575;
}

.info-iteam {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.about-info {
    text-align: center;
}

.label {
    display: block;
    font-size: 18px;
    color: #474747;
    margin-bottom: 5px;
}

.value {
    font-size: 16px;
    font-weight: 600;
    color: #000;

    /* Responsive */
    @media (max-width: 768px) {
        .about-info {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 480px) {
        .about-info {
            grid-template-columns: 1fr;
        }
    }