* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #FFF8F3; */
}

/* shared style  */

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

.btn {
    background-color: #FD6E0A;
    color: white;
    padding: 18px 36px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;

}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;

}

.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;


}

/* main style  */
header {
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}

.orange {
    color: #FD6E0A;

}

.logo h2 {
    font-size: 45px;
    font-weight: bolder;
}

nav {
    width: 59%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

    /* background-color: pink; */

}

nav .menu {
    list-style-type: none;
    display: flex;
    gap: 51px;
    text-align: center;
    align-items: center;

}

nav .menu a {
    font-size: 20px;
    color: 474747;
    text-decoration: none;
}

#banner {
    /* border: 1px solid red; */
    display: flex;
    margin: 46px 38px 0 230px;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 0px; */
    background-size: contain, cover;


}

#banner .banner-content {
    max-width: 585px;

}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    /* font-weight: regular; */
    color: #474747;
    margin-bottom: 30px;
    line-height: 30px;
}

#banner .banner-image img {
    max-width: 585px;
    /* margin-bottom: 0; */
    vertical-align: middle;

}

#about,
#resume,
#skills {
    padding-top: 130px;
}

#about .about-container {
    width: 59%;
    max-width: 1140px;
    padding: 131px 157px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;


}

#about .about-container .about-info {
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p {
    font-size: 20px;
    color: #757575;
    /* margin-bottom: 30px; */
    line-height: 30px;
}

about-info .info-card h4 {
    font-size: 20px;
    /* font-weight: bold; */
}


#skills .skills-container {
    width: 59%;
    max-width: 1140px;
    margin: 0 auto;
    /* justify-content: center; */
}

#skills .skills-container .skill-box {
    display: flex;
    gap: 24px;

}

.skill-box .skill-card {
    max-width: 267px;
    padding: 30px;
    /* border: 2px solid red; */
    box-shadow: 0px 0px 10px 0px;
    border-radius: 5px;
    background-color: #FFF8F3;

}

.skill-box .skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-box .skill-card h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    counter-reset: #181818;
}

.skill-box .skill-card p {
    font-size: 16px;
    height: 28;
    color: #474747;

}

#resume .resume-container {
    width: 59%;
    max-width: 1140px;
    margin: 113px auto 0;
    gap: 24px;
    /* margin: 0 auto; */
    /* text-align: center; */
    display: flex;

}

.section-tile {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #474747;
}

.resume-card {
    max-width: 511px;
    margin-right: 71px;
}

.card-title {
    font-size: 25px;
    margin-bottom: 10px;
    color: #474747;
    font-weight: bold;

}

.card-info {
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;

}

.card-text {
    font-size: 16px;
    line-height: 28px;
    color: #757575;

}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
}