* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: ;
}

/* shared style  */

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

.btn {
    background-color: #FD6E0A;
    color: white;
    padding: 18px 36px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    font-weight: bold;

}

/* main style  */
header {
    background-color: #FFF8F3;
    padding-top: 51px;
}

.orange {
    color: #FD6E0A;

}

.logo h2 {
    font-size: 45px;
    font-weight: bolder;
}

nav {
    width: 59%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

    /* background-color: pink; */

}

nav .menu {
    list-style-type: none;
    display: flex;
    gap: 51px;
    text-align: center;
    align-items: center;

}

nav .menu a {
    font-size: 20px;
    color: 474747;
    text-decoration: none;
}