* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #FFF8F3; */
}

/* shared style  */

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

.btn {
    background-color: #FD6E0A;
    color: white;
    padding: 18px 36px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;

}

/* main style  */
header {
    background-color: #FFF8F3;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}

.orange {
    color: #FD6E0A;

}

.logo h2 {
    font-size: 45px;
    font-weight: bolder;
}

nav {
    width: 59%;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;

    /* background-color: pink; */

}

nav .menu {
    list-style-type: none;
    display: flex;
    gap: 51px;
    text-align: center;
    align-items: center;

}

nav .menu a {
    font-size: 20px;
    color: 474747;
    text-decoration: none;
}

#banner {
    /* border: 1px solid red; */
    display: flex;
    margin: 46px 38px 0 230px;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 0px; */
    background-size: contain, cover;


}

#banner .banner-content {
    max-width: 585px;

}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 18px;
    /* font-weight: regular; */
    color: #474747;
    margin-bottom: 30px;
    line-height: 30px;
}

#banner .banner-image img {
    max-width: 585px;
    /* margin-bottom: 0; */
    vertical-align: middle;

}